.name-cell {
  width: 100px;
}

.id-cell {
  width: 20px;
}

.ushur-pill {
  border-radius: 20px;
  width: 60px;
  background: #f3f3f3;
  padding: 5px 20px;
}

.nodata {
  display: flex;
  justify-content: center;
}

.table-expand {
  background: #f4f5f7;
  width: 32px;
  border-radius: 4px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dt-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  flex-wrap: nowrap;
  margin: 2%;
}

.dt-header-row-first {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
  flex-wrap: nowrap;
}

.row-icon,
.row-icon-dark,
.row-icon-blue {
  width: 32px;
  border-radius: 4px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: stretch;
  align-content: space-around;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-icon {
  border: 1px solid #ABB5BE;
  margin-right: 1em;
}

.row-icon-blue {
  background: #609DF0;
  padding-top: 2%;
}

.row-icon-blue .fa-1x {
  font-size: 0.9em;
}

.row-icon-dark {
  background: #f4f5f7;
}

.row-button,
.row-button-compact {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.no-right-corner {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

}

.no-left-corner {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

}

.text-display {
  margin-left: 2%;
  border-radius: 8px;
  background: #F4F5F7;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1%;
  font-size:0.75rem;
}

.selection-row {
  background-color: aqua;
}

.p-5.validations {
  padding: 1.25rem !important;
}

.p-5.validations .name-cell .pill {
  display: inline-flex;
}

.p-5.validations .name-cell, .p-5.validations th {
  text-align: center;
}

.pinned-header .header-wrap {
  display: table-cell;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
}

.pinned-header th {
  width: 172px !important;
}

.pinned-header .header-wrap {
  width: 15%;
}

.pinned-header .ushur-dropdown.button .dropdown-toggle,
.pinned-header .ushur-dropdown.button .dropdown-toggle:active {
  background-color: #7A7A7A;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
}

.pinned-header .ushur-dropdown.button .dropdown-toggle:hover {
  background-color: #a7a8a9;
}

.pinned-header .ushur-dropdown.button {
  background-color: #7A7A7A;
}