@import url("https://fonts.googleapis.com/css?family=Open+Sans:300|Open+Sans+Condensed:300");
.loader-container {
  width: 25%;
  height: 65px;
}
.loader {
  margin-top: 5%;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box1,
.box2,
.box3 {
  border-image: linear-gradient(
    45deg,
    rgba(47, 128, 237, 0.5) 0%,
    rgba(138, 105, 255, 0.5)
  );
  border-image-slice: 1;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  position: absolute;
  display: block;
  border-radius: 10px;
}

.box1 {
  width: 55px;
  height: 22.44px;
  margin-top: 30px;
  margin-left: 0px;
  animation: anime1 4s 0s forwards ease-in-out infinite;
}
.box2 {
  width: 22.44px;
  height: 22.44px;
  margin-top: 0px;
  margin-left: 0px;
  animation: anime2 4s 0s forwards ease-in-out infinite;
}
.box3 {
  width: 22.44px;
  height: 22.44px;
  margin-top: 0px;
  margin-left: 30px;
  animation: anime3 4s 0s forwards ease-in-out infinite;
}

@keyframes anime1 {
  0% {
    width: 55px;
    height: 22.44px;
    margin-top: 30px;
    margin-left: 0px;
  }
  12.5% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 30px;
    margin-left: 0px;
  }
  25% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 30px;
    margin-left: 0px;
  }
  37.5% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 30px;
    margin-left: 0px;
  }
  50% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 30px;
    margin-left: 0px;
  }
  62.5% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 30px;
    margin-left: 0px;
  }
  75% {
    width: 22.44px;
    height: 55px;
    margin-top: 0px;
    margin-left: 0px;
  }
  87.5% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 0px;
    margin-left: 0px;
  }
  100% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes anime2 {
  0% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 0px;
    margin-left: 0px;
  }
  12.5% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 0px;
    margin-left: 0px;
  }
  25% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 0px;
    margin-left: 0px;
  }
  37.5% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 0px;
    margin-left: 0px;
  }
  50% {
    width: 55px;
    height: 22.44px;
    margin-top: 0px;
    margin-left: 0px;
  }
  62.5% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 0px;
    margin-left: 30px;
  }
  75% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 0px;
    margin-left: 30px;
  }
  87.5% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 0px;
    margin-left: 30px;
  }
  100% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 0px;
    margin-left: 30px;
  }
}

@keyframes anime3 {
  0% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 0px;
    margin-left: 30px;
  }
  12.5% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 0px;
    margin-left: 30px;
  }
  25% {
    width: 22.44px;
    height: 55px;
    margin-top: 0px;
    margin-left: 30px;
  }
  37.5% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 30px;
    margin-left: 30px;
  }
  50% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 30px;
    margin-left: 30px;
  }
  62.5% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 30px;
    margin-left: 30px;
  }
  75% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 30px;
    margin-left: 30px;
  }
  87.5% {
    width: 22.44px;
    height: 22.44px;
    margin-top: 30px;
    margin-left: 30px;
  }
  100% {
    width: 55px;
    height: 22.44px;
    margin-top: 30px;
    margin-left: 0px;
  }
}
