.name-cell {
  width: 100px;
}

.id-cell {
  width: 20px;
}
.ushur-pill {
  border-radius: 20px;
  width: 60px;
  background: #f3f3f3;
  padding: 5px 20px;
}

.nodata {
  display: flex;
  justify-content: center;
}
