.one-workflow .ushur-input {
  border: none;
}

.one-workflow .ushur-input:focus,
.one-workflow .ushur-input:focus-visible {
  outline: none;
}
.multiSelectContainer {
  font-size: 0.75rem;
  background-color: #ffffff;
}
.multiselect-container:hover > .search-wrapper {
  border-color: #2F80ED;
}
.workflow-variable-section {
  background: #FFFFFF;
  border: 1px solid #D9D8D6;
}
.workflow-variable-section button {
  display: inline-flex;
  margin-right: 0.938rem;
}
span.icon_down_dir {
  background-image: url('data:image/svg+xml,<svg width="1em" height="1em" fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.7 11.3l-6-6c-0.4-0.4-1-0.4-1.4 0s-0.4 1 0 1.4l5.3 5.3-5.3 5.3c-0.4 0.4-0.4 1 0 1.4 0.2 0.2 0.4 0.3 0.7 0.3s0.5-0.1 0.7-0.3l6-6c0.4-0.4 0.4-1 0-1.4z"></path></svg>');
  width: 1.125rem;
  height: 1.125rem;
  transform: rotate(90deg);
}
span.icon_down_dir:before {
  content: '';
}
.icon_down_dir {
  right: 2px !important;
  top: 10% !important;
}
.variable-role-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  padding-bottom: 0 !important;
  min-height: 1.875rem;
}
.multiSelectContainer ul.optionContainer li:last-child {
  padding-bottom: 0.625rem !important;
}
.multiselect-container .search-wrapper .chip, .variable-role-section .chip {
  font-size: 0.75rem;
  background: #A5C8FF;
  border-radius: 40px;
  color: #414141;
  height: 1.25rem;
}
.multiselect-container .search-wrapper .chip .custom-close {
  background-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2096%2096%22%20%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%20%20%20%3Cstyle%20type%3D%22text%2Fcss%22%3E%20%20%20%20%20%20%20%20.st0%7B%20%20%20%20%20%20%20%20%20%20%20%20fill%3A%23414141%3B%20%20%20%20%20%20%20%20%7D%20%3C%2Fstyle%3E%20%20%20%20%3Cg%3E%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22st0%22%20d%3D%22M48%2C0A48%2C48%2C0%2C1%2C0%2C96%2C48%2C48.0512%2C48.0512%2C0%2C0%2C0%2C48%2C0Zm0%2C84A36%2C36%2C0%2C1%2C1%2C84%2C48%2C36.0393%2C36.0393%2C0%2C0%2C1%2C48%2C84Z%22%2F%3E%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22st0%22%20d%3D%22M64.2422%2C31.7578a5.9979%2C5.9979%2C0%2C0%2C0-8.4844%2C0L48%2C39.5156l-7.7578-7.7578a5.9994%2C5.9994%2C0%2C0%2C0-8.4844%2C8.4844L39.5156%2C48l-7.7578%2C7.7578a5.9994%2C5.9994%2C0%2C1%2C0%2C8.4844%2C8.4844L48%2C56.4844l7.7578%2C7.7578a5.9994%2C5.9994%2C0%2C0%2C0%2C8.4844-8.4844L56.4844%2C48l7.7578-7.7578A5.9979%2C5.9979%2C0%2C0%2C0%2C64.2422%2C31.7578Z%22%2F%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E');
  cursor: pointer;
  float: right;
  height: 0.813rem;
  margin-left: 0.313rem;
  width: 0.813rem;
}
.multiselect-container ul.optionContainer li.groupChildEle {
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
}
.multiselect-container ul.optionContainer li.groupChildEle .checkbox {
  margin-right: 0.313rem;
}
